{% extends "::base.html.twig" %}
{% block title %}完成注册{% endblock title %}
{% block page_title %}
<div class="row-fluid">
    <div id="page-title" class="span4 offset4">
        <h2>完成注册</h2>
    </div>
</div>
{% endblock page_title %}
{% block wrapper %}
<div class="row-fluid">
    <div id="wrapper" class="lr-page full span4 offset4">
        <div class="row-fluid">
            <div id="login-form" class="span12">
                <div class="page-title-small">
                    <h3>完成注册</h3>
                </div>
                <span>您已注册过账号，但是邮箱尚未激活，<a href="{{ user.email|mailhost }}">立即激活</a></span>
                <div class="page-title-small">
                    <h3 style="background:#f0f0f0">或</h3>
                </div>
                <form method="post" action="{{ path('register_complete', {'oauth_id': oauth.id, 'user_id': user.id}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    <div class="row-fluid">
                        {{ form_widget(form._token) }}
                        {{ form_widget(form.username, {'attr': {'class': 'span12', 'placeholder':'用户名', 'value': name } }) }}
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.email, {'attr': {'class': 'span12', 'type': 'text', 'placeholder':'邮箱'} }) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'span12', 'placeholder':'密码'} }) }}
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'span12', 'placeholder':'确认密码'} }) }}
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                    <div class="actions">
                        <input type="submit"  class="btn span12" value="重新注册" />
                    </div>
                    <div class="row-fluid">
                        <div class="forgot">
                            <a href="{{ path('login') }}">已有账号？</a>
                        </div>
                    </div>	
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock wrapper %}