{% extends "::base.html.twig" %}
{% block title %}{{ user.getUsername }} 的相册 - {{ album.getName }}{% endblock title %}
{% block page_title %}
<div class="row-fluid">
    <div id="page-title" class="span4 offset4">
        <h2>{{ album.getName }}</h2>
    </div>
    <div id="page-title-button" class="span2 offset2">
        <a class="btn btn-large btn-primary" href="{{ path('album_create') }}">上传图片</a>
    </div>
    
</div>
{% endblock page_title %}

{% block wrapper %}
<div id="wrapper">
    <!-- start: Portfolio -->
    <div id="wall" class="row-fluid">
        <form action="{{ path('dngu_api_album_pic_upload') }}" method="post" enctype="multipart/form-data">
            <input type="text" name="album_id" value="" />
            <input type="file" name="image" />
            <input type="submit" />
        </form>
        {% for picture in pictures %}
        <div class="span3 item mgl">
            <div class="picture">
                <a class="image" target="_blank" href="" title="{{ picture.getDescription() }}">
                    <img src="" alt="{{ picture.getDescription }}" />
                </a>
                <div class="description">
                    <p>{{ picture.getName }}</p>
                </div>
                <div class="meta">
                    <span><i class="fa-icon-calendar"></i>{{ album.getCreatedAt.format('Y-m-d H:i') }}</span>
                    <span><i class="fa-icon-picture"></i> {{ album.getPictureCount }}</span>
                    <span><i class="fa-icon-heart-empty"></i> {{ album.getLikeCount }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- end: Portfolio -->
</div>
<!-- end: Wrapper  -->
{% endblock wrapper %}
