{% extends "::base.html.twig" %}
{% block title %}{{ user.getUsername }} 的相册{% endblock title %}
{% block page_title %}
<div class="row-fluid">
    <div id="page-title" class="span4 offset4">
        <h2>{{ user.getUsername }} 的相册</h2>
    </div>
</div>
{% endblock page_title %}

{% block wrapper %}
<div id="wrapper">
    <!-- start: Portfolio -->
    <div id="wall" class="row-fluid">
        {% for album in albums %}
        <div class="span3 item mgl">
            <div class="picture">
                <a class="image" target="_blank" href="{{ path('album_detail', {'uid': album.getUser().getSlugOrId(), 'id': album.getId() }) }}" title="{{ album.getDescription() }}">
                    <img src="{{ album.getCoverUrl }}" alt="{{ album.getDescription }}" />
                </a>
                <div class="description">
                    <p>
                        {{ album.getName }}
                    </p>
                </div>
                <div class="meta">
                    <span><i class="fa-icon-calendar"></i>{{ album.getCreatedAt}}</span>
                    <span><i class="fa-icon-user"></i> <a href="#">lucas</a></span>
                    <span><i class="fa-icon-heart-empty"></i> 88</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- end: Portfolio -->
</div>
<!-- end: Wrapper  -->
{% endblock wrapper %}
