{% extends "::base.html.twig" %}
{% block title %}{{ user.getUsername }} 的相册{% endblock title %}
{% block page_title %}
<div class="row-fluid">
    <div id="page-title" class="span4 offset4">
        <h2>{{ user.getUsername }} 的相册</h2>
    </div>
    <div id="page-title-button" class="span2 offset2">
        <a class="btn btn-large btn-primary" href="{{ path('album_create') }}">创建相册</a>
    </div>
</div>
{% endblock page_title %}
{% block head_css %}
{{ parent() }}
{% stylesheets '@DnguWebBundle/Resources/public/css/jqueryPowerFloat/powerFloat.css' %}
<link rel="stylesheet"  href="{{ asset_url }}" >
{% endstylesheets %}
{% endblock head_css %}
{% block wrapper %}
<div id="wrapper">
    <!-- start: Portfolio -->
    <div id="wall" class="row-fluid">
        {% for album in albums %}
        <div class="span3 item mgl">
            <div class="picture">
                <a class="image" target="_blank" href="{{ path('album_detail', {'uid': album.getUser().getSlugOrId(), 'id': album.getId() }) }}" title="{{ album.getDescription() }}">
                    <img src="{{ album.getCoverUrl }}" alt="{{ album.getDescription }}" />
                </a>
                <div class="description">
                    <p>{{ album.getName }}</p>
                </div>
                <div class="meta">
                    <span><i class="fa-icon-calendar"></i>{{ album.getCreatedAt.format('Y-m-d H:i') }}</span>
                    <span><i class="fa-icon-picture"></i> {{ album.getPictureCount }}</span>
                    <span><i class="fa-icon-heart-empty"></i> {{ album.getLikeCount }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
        {{ knp_pagination_render(albums) }}
    </div>
    <!-- end: Portfolio -->
</div>
<!-- end: Wrapper  -->
{% endblock wrapper %}
